

.logo {
    height    : 32px;
    background: rgba(255, 255, 255, 0.2);
    margin    : 16px;
}
.ant-layout-content{
    // min-height: calc(100vh - 200px);
    height: calc(100vh - 130px);
    overflow-y: auto;
    overflow-x: hidden;
}
.trigger {
    font-size  : 18px;
    line-height: 64px;
    padding    : 0 24px;
    cursor     : pointer;
    transition : color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}
.ant-layout-content{
    margin-top: 0 !important;
    padding: 20px;
    box-sizing: border-box;
}